a {
    text-decoration: none !important;
}

#button {
	margin: 4px;
	margin-top: 10px;
	margin-bottom: 10px;	
}

#home {
	height: 93vh;
}

#copyright {
	height: 65vh;
}

textarea {
    resize: none;
}

.optional {
	opacity: 0.5;
}